{% extends 'base.html' %}
{% load compressed weblog_tags cache core_tags %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'weblog' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'weblog' %}
    {% if USE_JS %}
    {% if SHARE_THIS_ID %}
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: '{{ SHARE_THIS_ID }}', doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
    {% endif %}
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if phraze %}
        <h4>Quote of the hour</h4>
        <div class="quote">{{ phraze|safe }}</div>
    {% endif %}
    <h4>Search</h4>
    <div class="weblog-search">
        <form class="form-inline" role="form" action="{% url 'weblog_list' %}" method="get" onsubmit="_gaq.push(['_trackEvent', 'Posts', 'Search']);">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="" name="q">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    <h4>Tags</h4>
    <div class="weblog-tags">
    {% cache 4000 tags %}
        {% tags %}
    {% endcache %}
    </div>
    <h4>Pages</h4>
    <ul>
        <li><a href="/nanvel/">About author</a></li>
        <li><a href="/library/">My library (books and web resources)</a></li>
    </ul>
    {% if SHARE_THIS_ID %}
        <h4>Share</h4>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_vkontakte_large' displayText='Vkontakte'></span>
        <a href="{% url 'weblog_feed' %}" target="_blank" class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" onClick="_gaq.push(['_trackEvent', 'click', 'rss']);">
            <span class="stLarge" style="background-image: url('{% static 'img/rss.png' %}');"></span>
        </a>
    {% endif %}
    <h4>Follow</h4>
    <div class="g-person" data-width="273" data-href="//plus.google.com/u/0/101474655262166054110" data-layout="landscape" data-rel="author"></div>
    <h4>My friends</h4>
    {% links %}
    <h4>Projects</h4>
    {% cache 3000 projects %}
        {% projects %}
    {% endcache %}
    <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" class="creative-commons">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
        </a>
    </div>
{% endblock sidebar %}

{% block content %}
{% block weblog_content %}{% endblock %}
{% endblock content %}
