{% extends 'weblog/base.html' %}
{% load weblog_tags core_tags %}

{% block description %}{{ post.description }}{% endblock %}
{% block keywords %}{{ post.keywords }}{% endblock %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'weblog_list' %}">Weblog</a> <span class="divider">/</span></li>
    <li class="active">{{ post.title }}</li>
{% endblock %}

{% block weblog_content %}
    <article itemscope itemtype="http://schema.org/BlogPosting" class="post-full">
        <header>
            <h1>{{ post.title }}</h1>
            <time class="muted" datetime="{{ post.timestamp|date:'Y-m-d' }}" pubdate><span class="glyphicon glyphicon-time"></span> {{ post.timestamp|simpledate }}</time>
            <div class="post-tags">
                <span class="glyphicon glyphicon-tag"></span>
 {% post_tags post %}
            </div>
        </header>
        <div class="post-content">{{ post.content|safe }}</div>
        <div class="post-like">
            <table class="social-likes"><tr>
                <td class="td-vk"><div id="vk_like"></div></td>
                {# <td class="td-fb"><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></td> #}
                <td class="td-tw"><a href="https://twitter.com/share" class="twitter-share-button" data-via="nanvel.name">Tweet</a></td>
                <td class="td-gp"><div class="g-plusone" data-size="medium"></div></td>
            </tr></table>
            {% if USE_JS %}
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?110"></script>
            <script type="text/javascript" async>
                VK.init({apiId: 4087782, onlyWidgets: true});
                /* init vk like button */
                VK.Widgets.Like("vk_like", {type: "button", height: 20});
                /* init fb like button */
                {% comment %}
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=847724558577918";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                {% endcomment %}
                /* init twit button */
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                /* init g+1 */
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
            {% endif %}
        </div>
    </article>
    {% include 'weblog/blocks/comments.html' %}
{% endblock %}