{% extends 'weblog/base.html' %}
{% load weblog_tags core_tags %}

{% block description %}posts feed{% if tag %} - tag: {{ tag }}{% endif %}{% if q %} - search: {{ q }}{% endif %}{% endblock %}

{% block head_links %}<link rel="alternate" type="application/rss+xml" title="Nanvel's blog (RSS 2.0)" href="{% url 'weblog_feed' %}" />{% endblock %}

{% block title %}
{% if tag %}
    {{ tag }} - 
{% endif %}
{% if q %}
    search: {{ q }} -
{% endif %}
{{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'weblog_list' %}">Weblog</a> <span class="divider">/</span></li>
    {% if tag %}
        <li class="active">Tag: {{ tag }} <span class="divider">/</span></li>
    {% endif %}
    {% if q %}
        <li class="active">Search: {{ q }} <span class="divider">/</span></li>
    {% endif %}
{% endblock %}

{% block weblog_content %}
<section itemscope itemtype="http://schema.org/Blog">
    {% for post in page %}
    <article data-url="{{ post.get_absolute_url }}" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
        <header id="{{ post.slug }}">
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <time class="muted" datetime="{{ post.timestamp|date:'Y-m-d' }}" pubdate><span class="glyphicon glyphicon-time"></span> {{ post.timestamp|simpledate }}</time>
            <div class="post-tags">
                <span class="glyphicon glyphicon-tag"></span>
 {% post_tags post %}
            </div>
        </header>
        <div class="post-content">{{ post.cut|safe }}</div>
        <ul class="post-actions">
            {% if post.has_full %}
            <li>
                <a href="{{ post.get_absolute_url }}#cut" onClick="_gaq.push(['_trackEvent', 'click', 'full']);">Continue reading</a>
            </li>
            {% else %}
            <li>
                <a href="{{ post.get_absolute_url }}" onClick="_gaq.push(['_trackEvent', 'click', 'full']);">View</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ post.get_absolute_url }}#comment" onclick="_gaq.push(['_trackEvent', 'Posts', 'Comment']);"><i class="icon-comment"></i> Comment{{ post.comments_count }}</a>
            </li>
        </ul>
    </article>
    {% endfor %}
    {% if page %}
        <div class="pagination-block">
            <div class="pagination" data-pages="{{ page.paginator.num_pages }}"></div>
        </div>
    {% else %}
    <h2>Nothing was found :(</h2>
    {% endif %}
</section>
{% endblock %}
