@import "bootstrap/variables.less";

body {
    background: #fafffc;
    ul {
        padding: 0;
        li {
            list-style-type: none;
            margin-left: 0;
        }
    }
}

.sidebar {
    width: 290px;
    padding: 10px;
    height: 100%;
    float: left;
    // background-color: rgba(255, 255, 255, 0.5);
    border-bottom-right-radius: 2px;
    z-index: 100;
    header {
        a.title {
            color: inherit;
            font-size: 26px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            &:hover {
                text-decoration: none;
            }
        }
        .breadcrumbs {
            padding: 10px 0;
            li {
                display: inline;
            }
        }
    }
    footer {
        margin: 20px 0;
    }
    .license {
        margin: 20px 0;
    }
    .weblog-tags {
        text-align: justify;
    }
    .quote {
        font-family: "Times New Roman", Times, serif;
        float: right;
        font-size: 16px;
        margin-bottom: 20px;
        small {
            text-align: right;
            display: block;
            margin-top: 5px;
        }
    }
    h4 {
        margin-top: 20px;
    }
}

.content-outer {
    margin-left: 300px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    .content {
        width: 800px;
        margin: 0 auto;
        article {
            padding: 10px;
            background: rgba(255, 255, 255, 1);
            border-radius: 2px;
            margin-top: 50px;
            z-index: 100;
            border: 1px solid #aaa;
            &:first-child {
                margin-top: 0px;
            }
            h1 {
                margin: 0;
                border-left: 3px solid #428BCA;
                padding: 10px 0;
                padding-left: 10px;
                margin-left: -10px;
                margin-bottom: 10px;
                a:hover {
                    text-decoration: none;
                }
            }
            time {
                color: #aaa;
            }
            .post-tags {
                span {
                    color: #aaa;
                }
            }
            .post-content {
                margin-top: 20px;
                pre {
                    background-color: #eee;
                    padding: 5px;
                    word-wrap: break-word;
                    white-space: normal;
                }
            }
            .post-actions {
                padding: 0;
                margin: 0;
                margin-top: 20px;
                li {
                    display: inline-block;
                    list-style-type: none;
                    margin-left: 10px;
                    background-color: #428BCA;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        color: #fff;
                        padding: 10px;
                        display: inline-block;
                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            .post-like {
                margin: 20px 0;
            }
        }
        .weblog-comments {
            background: transparent;
            border-radius: 4px;
            margin-top: 20px;
            z-index: 100;
            .weblog-comment-item {
                border-top: 1px dashed #aaa;
                padding-top: 10px;
                margin-top: 10px;
                clear: both;
                .comment-avatar {
                    vertical-align: top;
                    display: inline-block;
                    img {
                        vertical-align: top;
                    }
                }
                .comment-text {
                    display: inline-block;
                    width: 600px;
                    margin-left: 10px;
                    .comment-content {
                        white-space: pre-wrap;
                        white-space: -moz-pre-wrap;
                        white-space: -pre-wrap;
                        white-space: -o-pre-wrap;
                        word-wrap: break-word;
                    }
                }
            }
            form {
                margin-top: 30px;
                .form-group {
                    width: 700px;
                    margin: 10px 0;
                }
                .alert {
                    margin-bottom: 10px;
                    padding: 10px 15px;
                }
                legend {
                    border-bottom: none;
                }
            }
        }
    }
}

.link-move-top {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(/static/img/move-top.png);
    background-repeat: no-repeat;
    background-position: center center; 
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 0;
    display: none;  
    cursor: pointer;
    border-radius: 4px;
}

.pagination-block {
    margin-top: 50px;
    padding: 10px;
    background-color: transparent;
    border-radius: 2px;
    text-align: center;
    z-index: 100;
    .pagination {
        li {
            list-style-type: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 5px;
            a {
                padding: 5px;
            }
            &.active {
                background-color: #428BCA;
                a {
                    color: #fff;
                }
            }
        }
    }
}

.bgcircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

.ad-verical {
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
}

img {
    max-width: 780px!important;
}