<h2>New comment!</h2>
<dl>
    <dt>Post:</dt><dd><a href="{{ comment.weblog_item.get_absolute_url }}">{{ comment.weblog_item.title }}</a></dd>
    <dt>Name:</dt><dd>{{ comment.name }}</dd>
    <dt>Site:</dt><dd>{{ comment.site }}</dd>
    <dt>Email:</dt><dd>{{ comment.email }}</dd>
    <dt>Time:</dt><dd>{{ comment.timestamp }}</dd>
</dl>
<h3>Content:</h3>
<p>{{ comment.content }}</p>
