{% load compressed gravatar core_tags %}

<div class="weblog-comments" id="comment">
    {% for comment in comments %}
    <div class="weblog-comment-item">
        <div class="comment-avatar">
            {% gravatar comment.email %}
        </div>
        <div class="comment-text">
            <div class="comment-name">
                {% if comment.site %}
                <a href="{{ comment.site }}" target="_blank">
                    {{ comment.name }}
                </a>
                {% else %}
                    {{ comment.name }}
                {% endif %}
            </div>
            <time class="muted" datetime="{{ comment.timestamp|date:'Y-m-d' }}">
                {{ comment.timestamp|simpledate }}
            </time>
            <div class="comment-content">{{ comment.content }}</div>
        </div>
    </div>
    {% endfor %}
    <form class="form-horizontal js-comment-form" role="form" action="{% url 'weblog_comment_add' %}" method="POST">
        <legend>Comment</legend>
        {% csrf_token %}
        {{ comment_form.weblog_item }}
        <div class="form-group">
            {{ comment_form.name }}
        </div>
        <div class="form-group">
            {{ comment_form.email }}
        </div>
        <div class="form-group">
            {{ comment_form.site }}
        </div>
        <div class="form-group">
            {{ comment_form.content }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
