{% extends 'base.html' %}
{% load compressed %}

{% block description %}{{ flatpage.title }} - {{ block.super }}{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'flatpage' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'flatpage' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'weblog_list' %}">Weblog</a> <span class="divider">/</span></li>
    <li class="active">Flatpages <span class="divider">/</span></li>
    <li class="active">{{ flatpage.title }} <span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <div class="flatpage">
        {{ flatpage.content|safe }}
    </div>
{% endblock content %}
